@charset "utf-8";
.section-b .text ul li{padding-top:30px;}
.section-b .container div:last-child{padding-bottom: 150px;}
@media (max-width: 640px) {
    .section-b .container div:last-child{padding-bottom:30px;}
}